<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="robots" content="all,index,follow">
    <meta name="googlebot" content="all,index,follow">
    <meta name="allow-search" content="yes">
    <meta name="audience" content="all">
    <meta name="revisit" content="7 days">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="Aab Al-Chotib">
    <meta name="description" content="Aab Al-Chotib, Freelance Web and Front-End Designer from Indonesia.">
    <meta name="copyright" content="© 2017 Aab Al-Chotib, Surakarta, Indonesia">
    <meta name="creator" content="Aab Al-Chotib - Indonesia">
    <meta http-equiv="Reply-to" content="aabalchotib@gmail.com">
    <meta name="distribution" content="global">
    <meta name="classification" content="web designer, Web Design">
    <meta name="document-classification" content="general">
    <meta name="rating" content="general">
    <meta name="theme-color" content="#282828">
    <title>Aab Al-Chotib - Web Desginer</title>
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <!--[if lte IE 9]><script src="assets/js/html5shiv.min.js"></script><script src="assets/js/respond.min.js"></script><![endif]-->
  </head>
  <!-- JS Assets-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="assets/js/scrollreveal.js"></script>
  <script src="assets/js/app.js"></script>
</html>